<div class="header">
  <div class="logo-sec">
    <img src="../../../assets/preview-removebg-preview.png" width="45%" />
  </div>

  <div class="links-sec">
    <ul>
      <li><a routerLinkActive="active" routerLink="criteria">Criteria</a></li>
      <!-- <li>
        <a routerLinkActive="active" routerLink="organizations"
          >Organizations</a
        >
      </li> -->
      <li>
        <a routerLinkActive="active" routerLink="funding">Funding</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="register">Register</a>
      </li>
      <li><a routerLinkActive="active" routerLink="status">Status</a></li>
      <li><a routerLinkActive="active" routerLink="faqs">FAQ</a></li>
      <li>
        <a routerLinkActive="" routerLink="" (click)="onLogout($event)"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
