<div class="side-bar">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="home">
        <div>
          <div class="logo"><fa-icon [icon]="faHouse"></fa-icon></div>
          <div class="text">Home</div>
        </div>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="login">
        <div>
          <div class="logo"><fa-icon [icon]="faUser"></fa-icon></div>
          <div class="text">Login</div>
        </div>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="register">
        <div>
          <div class="logo"><fa-icon [icon]="faUserPlus"></fa-icon></div>
          <div class="text">Register</div>
        </div>
      </a>
    </li>
  </ul>
</div>
