<div class="container">
  <div class="header">
    <p>Non-governmental organization</p>
  </div>
  <div class="about">
    <p>
      The scheme is proposed to be implemented through Public Sector
      Organisations, District Rural Development Agencies. Federation,
      Co-operatives and voluntary Organisation - NonGovernment Voluntary
      Organizations working in rural areas with legal status as a society
      registered under the societies Registration Act of 1860 or under the
      Corresponding State Acts. Recipient of financial assistance under STEP are
      required to be bodies, Organisations or agencies working in rural /urban
      areas, although their Headquarters may be located in the urban area. They
      must be registered at least for 3 years at the time of approaching for
      assistance
    </p>
  </div>
  <div class="list">
    <div class="list-header">List of NGOs part of this Scheme are:</div>
    <div class="list-body">
      <ul>
        <li>Guria India</li>
        <li>ActionAid India</li>
        <li>Majlis Manch</li>
        <li>Sayodhya</li>
        <li>Shikshan Ane Samaj Kalyan Kendra</li>
      </ul>
    </div>
  </div>
</div>
