<div class="container">
  <div class="funding">
    <h1>Funding Norms</h1>
    <div class="data">
      <p>
        Broadly, the STEP requires every NGO seeking to receive foreign
        donations to be:
      </p>
      <ol>
        <li>Registered under the Act</li>
        <li>
          To open a bank account for the receipt of the foreign funds in State
          Bank of India, Delhi.
        </li>
        <li>
          To utilise those funds only for the purpose for which they have been
          received and as stipulated in the Act.
        </li>
        <li>
          The organization must be in existence at least for 3 years and have
          carried out activities for imparting skills related to employability
          and entrepreneurship during last 3 years. At the time of filing the
          application, the organization must have a positive net worth in at
          least 2 previous years.
        </li>
      </ol>
    </div>
  </div>
</div>
