<div class="container">
  <div class="criteria">
    <h1>Criteria</h1>
    <div class="data">
      <p>Criteria for selection of NGO based on STEP guidelines are:</p>
      <ol>
        <li>
          The NGO should have signed up in the NGO-Partnership (NGO-PS) Portal
          of the NITI Aayog with all self-declared details and should have
          obtained a Unique ID. The Unique ID should be mandatorily quoted by
          the NGO at the time of application for grants. NGOs shall update their
          data base in the Portal every year.
        </li>
        <li>
          The NGO should also have signed up in the portal of this Ministry with
          the Unique ID of NITI Aayog.
        </li>
        <li>
          The organization must be in existence at least for 3 years and have
          carried out activities for imparting skills related to employability
          and entrepreneurship during last 3 years. At the time of filing the
          application, the organization must have a positive net worth in at
          least 2 previous years.
        </li>
      </ol>
    </div>
  </div>
</div>
