<div class="header">
  <div class="logo-sec">
    <img src="../../../assets/steplogo-removebg-preview.png" height="90px" />
  </div>
  <div class="links-sec">
    <ul>
      <li><a routerLinkActive="active" routerLink="aboutus">About Us</a></li>
      <li>
        <a routerLinkActive="active" routerLink="guidelines">Guidelines</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="training">Training sectors</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="registration">Registration</a>
      </li>
      <li><a routerLinkActive="active" routerLink="status">Status</a></li>
      <li><a routerLinkActive="active" routerLink="faqs">FAQ</a></li>
      <li><a routerLinkActive="" routerLink="">Logout</a></li>
    </ul>
  </div>
</div>
