<div class="container">
  <div class="guidelines1">
    <h2>Scheme Benefits & Highlights</h2>
    <p>The scheme has 2 fold objectives viz.</p>
    <ul>
      <li>To provide skills that give employability to women.</li>
      <li>
        To provide competencies and skills that enable women to become
        self-employed/entrepreneurs.
      </li>
    </ul>
  </div>

  <div class="guidelines2">
    <h2>Eligibility</h2>
    <p>
      The scheme is intended to benefit women who are in the age group of 16
      years and above. ELIGIBLE ORGANIZATIONS/ PROJECT IMPLEMENTING AGENCIES
      (PIAs) Grants-in-aid under the STEP programme may be given to an
      institution having a distinct legal entity as under:
    </p>
    <ul>
      <li>
        Institutions or organizations set up as Autonomous Organization under a
        specific statute or as a Society registered under the Societies
        Registration Act, 1860 or Indian Trusts Act, 1882 (Not for profit) or
        other statutes.
      </li>
      <li>
        Voluntary Organizations or Non-Government Organizations registered under
        the Societies Registration Act, Indian Trust Act carrying out activities
        which promote the objectives of the STEP programme, with adequate
        financial and other resources, credibility and experience of the type of
        activities to be undertaken.
      </li>
      <li>Co-operative Societies.</li>
    </ul>
  </div>
</div>
