<div class="container">
  <h1>Support to training and employment programme for women</h1>
  <p>
    STEP Scheme aims to provide skills that give employability to women and to
    provide competencies and skill that enable women to become
    self-employed/entrepreneurs. The Scheme is intended to benefit women who are
    in the age group of 16 years and above across the country. The Support to
    Training & Employment Programme for Women (STEP) was launched as a Central
    Sector Scheme in 1986-87. The programme of STEP aims to make a significant
    impact on women by upgrading skills for self and wage employment. The
    sequence of activities is envisaged as mobilizing women in viable groups,
    improving their skills, arranging for productive assets/ access to wage
    employment, creating backward and forward linkage, improving/arranging for
    support services, providing access to credit, awareness generation, gender
    sensitization, nutrition education, sensitization of project functionaries
    etc. Thus, STEP advocates an integrated package of inputs aiming at the
    self-reliance and empowerment of women by enhancing their productivity and
    enabling them to take up income generation activities. The ultimate
    endeavour of each project should be develop the group to thrive on a self-
    sustaining basis in the market place with the minimal Government support and
    intervention after the project period is over.
  </p>

  <div class="obj">
    <h2>Objectives of the scheme</h2>
    <ul>
      <li>
        Mobilising women in small viable groups and making facilities available
        through training, access to credit and other inputs
      </li>
      <li>Provide training for skill up gradation</li>
      <li>
        Enabling groups of women to take up employment-cum-income generation
        programmes of their own, or to access wage employment
      </li>
      <li>
        Provide support services for further improving and employment conditions
        of women and for access to health care, literacy, legal literacy, and
        other information
      </li>
    </ul>
  </div>
</div>
