<div class="header">
  <div class="logo-sec">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Ministry_of_Women_and_Child_Development.svg/1920px-Ministry_of_Women_and_Child_Development.svg.png"
      height="90px"
    />
  </div>
  <div class="links-sec">
    <ul>
      <li><a routerLinkActive="active" routerLink="home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="step">STEP</a></li>
      <li><a routerLinkActive="active" routerLink="ngo">NGOs</a></li>
      <li><a routerLinkActive="active" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</div>
